<h1>Restaurant List :</h1>

<h2>All the available restaurants :</h2>

<%= link_to 'Create a new restaurant', restaurant_new_path %>

<ul>
<% @restaurants.each do |restaurant| %>
 <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.category %> </li>
<% end %>
</ul>
